<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-9">
					<h4>Add new track</h4>
					 Title <input class="form-control" ng-model="newTrack.title"/><br/>
					 Genre 
					<label ng-repeat="genre in genres">
					  <input type="checkbox" checklist-model="newTrack.genres" checklist-value="genre"> {{genre}}
					</label>
				</div>
				<div class="col-md-3">
					<button type="button" class="btn btn-primary bottom" ng-click="addTrack()">Add</button>

					<br/><br/>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="row">
					<h4 class="col-md-4">Tracks Genres</h4>
					<div class="col-md-8">
						<input placeholder="New Genre" ng-model="newGenre">
						<button type="button" class="btn btn-primary" ng-click="addGenre()"> Add </button>
					</div>
				</div>
				<br/>
				<div class="genre-list">
					<ul class="list-group">
					  <li class="list-group-item" ng-repeat="genre in genres"> {{genre}} </li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4">
					<h4>Music Tracks</h4>		
				</div>
				<form>
				  <div class="col-md-8">
				    <input type="text" class="form-control" placeholder="Search Title" ng-model="query.title">
				  </div>
				</form>	
			</div>
			

			<div class="table-responsive scrollable">
			
			  	<table class="table table-bordered" ng-show="tracks.length>0">
			    	<thead>
			    		<tr><td>Title</td><td>Genre</td><td>Rating</td><td>Action</td></tr>
			    	</thead>
			    	<tbody>
			    		<tr ng-show="editing">
			    			<td><input class="form-control" ng-model="editingTrack.title"/></td>
			    			<td>
				    			<label ng-repeat="genre in genres">
								  <input type="checkbox" checklist-model="editingTrack.genres" checklist-value="genre"> {{genre}}
								</label>
							</td>
							<td></td>
							<td>
								<button ng-click="update()">Done</button>
								<button ng-click="cancelEdit()">Cancel</button>
							</td>
			    		</tr>
			    		<tr ng-repeat="track in tracks | filter:query">
			    			<td> {{ track.title }} </td>
			    			<td> <span ng-repeat="genre in track.genres">{{genre}}, </span> </td>
			    			<td> 
			    				<form id="user-rating-form">
									<span class="user-rating" ng-click="updateRating(track)">
										<input type="radio" name="rating" ng-value="5" ng-model="track.rating"><span class="star"></span>
									    <input type="radio" name="rating" ng-value="4" ng-model="track.rating"><span class="star"></span>
									    <input type="radio" name="rating" ng-value="3" ng-model="track.rating"><span class="star"></span>
									    <input type="radio" name="rating" ng-value="2" ng-model="track.rating"><span class="star"></span>
									    <input type="radio" name="rating" ng-value="1" ng-model="track.rating"><span class="star"></span>
									</span>
								</form>
							</td>
			    			<td>
			    				<button ng-click="editTrack(track)">Edit</button>
			    				<button ng-click="deleteTrack(track)">Delete</button>
			    			</td>

			    		</tr>
			    	</tbody>
			  	</table>

			</div>


		</div>

	</div>

</div>


