<!DOCTYPE html>
<html lang="en" ng-app="muse">
  <head>
    <title>Muse</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/lib/font-awesome.min.css') }}"> -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/home.css') }}">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/lib/jquery-1.9.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/angular-ui-router.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/checklist-model.js') }}"></script>

    <!-- Application -->    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/route.js') }}"></script>

    <!-- Controllers -->
    <script src="{{ url_for('static', filename='js/controllers/home.js') }}"></script>

    <!-- Services -->
    <script src="{{ url_for('static', filename='js/services/track.service.js') }}"></script>


    </head>
  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top top-nav" >
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Muse</a>
            </div>  
        </div>
      </nav>
     
      <br><br><br>
      

      <div class="main-container col-lg-12 col-md-12 col-sm-12" ui-view></div>
     

  </body>
</html>

